WCFManagerModule/WCFManagerModule/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50195/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50195/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50195/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServicetobeusedindotnetclient" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PostProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:PostProductList" />
  </wsdl:message>
  <wsdl:message name="IService1_PostProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostProductListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:PutProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_PutProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCustomerList" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCustomerListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:CustomerList" />
  </wsdl:message>
  <wsdl:message name="IService1_CustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CustomerListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PostProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostProductList" message="tns:IService1_PostProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostProductListResponse" message="tns:IService1_PostProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutProduct" message="tns:IService1_PutProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutProductResponse" message="tns:IService1_PutProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProducts" message="tns:IService1_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductsResponse" message="tns:IService1_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProduct" message="tns:IService1_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProductResponse" message="tns:IService1_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostCustomerList" message="tns:IService1_PostCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostCustomerListResponse" message="tns:IService1_PostCustomerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CustomerList" message="tns:IService1_CustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CustomerListResponse" message="tns:IService1_CustomerList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostProductList">
      <soap:operation soapAction="http://tempuri.org/IService1/PostProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/PutProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCustomerList">
      <soap:operation soapAction="http://tempuri.org/IService1/PostCustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerList">
      <soap:operation soapAction="http://tempuri.org/IService1/CustomerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50195/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>